@{
    ViewData["Title"] = "";
}


<div style="padding:0px 10px;">
    <!--Title-->
    <h1 align="center" style="margin:0px 0px; padding:0px 0px;">
        <!--Lake Placid Park Inc.-->
    </h1>
    <!--Sub Header-->
    <h2 align="center" style="margin:5px 0px; padding:0px 0px;">
        A Peaceful 55+ Resident-Owned Community
    </h2>
    <p align="left">
        If you are seeking a quiet 55+ Resident Owned Community for your retirement, Lake Placid Park Inc. is the place for you.
    </p>
    <p align="left">
        We pride ourselves on providing a well managed and affordable living environment supported by professional management and maintenance companies. Our vibrant and peaceful community offers the perfect balance of tranquility and convenient access to a wide range of attractions and services.
    </p>
    <p align="left">
        <h3> Resident Amenities: </h3>
        <ul>
            <li>Clubhouse with a lending library</li>
            <li>Billiards table, resident artwork, and WiFi</li>
            <li>Shuffleboard and bocce tournaments</li>
            <li>Weekly coffee hour</li>
            <li>Bingo</li>
            <li>Game nights</li>

            <li>Monthly dinners</li>
            <li>Pancake breakfasts</li>
            <li>Lunch outings</li>
            <li>Picnics</li>

        </ul>


    </p>
    <h3> Prime Locations: </h3>
    <p align="left">
        <ul>
            <li>Gulf of Mexico Beaches</li>
            <li>Largo City and Pinellas County Parks</li>
            <li>Pinellas Bike Trail (34 miles from St. Petersburg to Tarpon Springs)</li>
            <li>Public and Private Golf Courses</li>
            <li>Shopping, Dining and Banking options</li>
            <li>Major Hospitals and Clinics</li>

            <li>Public Transportation (Bus Line)</li>
            <li>Largo Cultural Center, Largo Library, and Largo Community Center</li>
        </ul>
    </p>
    <h3> Nearby Attractions: </h3>
    <p>
        <ul>
            <li>Airports:  Tampa International and St. Pete/Clearwater International</li>
            <li>Baseball Spring Training:  Philadelphia Phillies, Toronto Blue Jays, and NY Yankees</li>
        </ul>

    </p>
    <div align="center">
        <br />
        <h2">
            Lake Placid Park Inc.
            <br>
            980 7th St. NW
            <br>
            Largo, FL 33770
            </h2>
    </div>
    <!--
        <p align="center" style="padding-right:50px;">
        <p align="center"><strong>Lake Placid Park Inc.</strong>  </p>
        <p align="center"> <strong>980 7th Street NW</strong> </p>
        <p align="center"> <strong>Largo Fl  33770</strong> </p>    -->
    <!--
                   <a href= "mailto:lakeplacidpark@gmail.com  ">
                                Send Mail
                           </a>
    </p>  -->
</div>

<!--
<br />

<p align="left">
    If you are seeking a quiet 55+ Resident Owned Community for your retirement, Lake Placid Park is the place for you.
</p>
<p align="left">
    We are a friendly Resident Owned mobile home park, located in Central Pinellas Co., Florida between St. Petersburg and Clearwater in the Tampa Bay Area and near the Gulf of Mexico Beaches.
</p>
<p align="left">
    Our 99 unit mobile home retirement community surrounds a beautiful 3-acre spring fed lake. Our lake provides a place for our residents to sit and relax, catch a few fish, watch our feathered friends, or just enjoy the abundant sunshine.
</p>
<p align="left">
    Come, visit and let us show you how our 55+ Resident Owned Community can offer you affordable living in a secluded setting, within walking distance of shopping and restaurants.
</p>

<p>
    <strong data-toggle="tooltip" data-html="true" title="980 7th Street NW, Largo, Fla">Lake Placid Park Inc.</strong>
</p>
-->
@section Scripts
        {
    <script>

        function DoAlert() {
            Swal.fire({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success"
            });
        }

    </script>

} 