@{
    ViewData["Title"] = "";
}

<!--
<p>
    <strong>example of font diff </strong>
</p>  -->







<br />
<hr />

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" width:100%;>
        <div class="d-flex justify-content-center">
            <table align="center" mx-auto border="2" cellpadding="4" cellspacing="0" width="820">
                <tbody>
                    <tr>
                        <td colspan="3" class="BG_Light_Blue" align="center">
                            <a name="L88" id="L88"></a> Street View [<a href="https://www.google.com/maps/@@27.9254742,-82.7947499,3a,75y,9.2h,70.34t/data=!3m7!1e1!3m5!1s6M1s_AEmr-_A4-dIOQllZQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D19.655570433734326%26panoid%3D6M1s_AEmr-_A4-dIOQllZQ%26yaw%3D9.203804143018239!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D" ,><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Street View</span></a>]
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="BG_Light_Blue" align="center"> <a name="L88" id="L88"></a> Arial View  [<a href="https://www.google.com/maps/place/980+7th+St+NW,+Largo,+FL+33770/@@27.9252105,-82.7936273,18.75z/data=!4m6!3m5!1s0x88c2f09dc254a3e3:0xbf48d391033422dc!8m2!3d27.9254449!4d-82.7931705!16s%2Fg%2F11g5_0bvbn?entry=ttu&g_ep=EgoyMDI1MDEyNy4wIKXMDSoASAFQAw%3D%3D"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Arial View</span></a>] </td>

                    </tr>
                    <tr>
                        <td colspan="9">
                            <!--
                            <div align="center"> <img src="~/Images/Homes/88/05-01.jpg" class="img-fluid" alt="Lot # 5" name="Main_05" id="Main_05" height="auto" width="auto"> </div>
                            -->
                            <div align="center">
                                <img src="~/Images/Google_Map.jpg" alt="Lake Placid Map" class="rounded-3 img-fluid d-block align-content-center " alt="Lake Placid Map">
                                <h2>
                                    Lake Placid Park Inc.
                                    <br>
                                    980 7th St. NW
                                    <br>
                                    Largo, FL 33770
                                </h2>
                            </div>
                        </td>
                    </tr>

                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<br />
<br />
<hr />






@section Scripts
{
}

