@{
    ViewData["Title"] = "";
}


<br />
<br />

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" width:100%;>
        <div class="d-flex justify-content-center">
            <table align="center" mx-auto border="2" cellpadding="4" cellspacing="0" width="820">
                <tbody>
                    <!--
                    <tr>
                        <td colspan="3" class="BG_Light_Blue"> <a name="L88" id="L88"></a> Lot # 5 [<a href="~/Home/ParkPlan"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Lot Locator</span></a>] </td>
                    </tr>
                    -->
                    <tr>
                        <td colspan="3" class="BG_Light_Blue" align="center"> <a name="L88" id="L88"></a> Lot Map [<a href="https://www.google.com/maps/place/980+7th+St+NW,+Largo,+FL+33770/@@27.9252105,-82.7936273,18.75z/data=!4m6!3m5!1s0x88c2f09dc254a3e3:0xbf48d391033422dc!8m2!3d27.9254449!4d-82.7931705!16s%2Fg%2F11g5_0bvbn?entry=ttu&g_ep=EgoyMDI1MDEyNy4wIKXMDSoASAFQAw%3D%3D"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">GoogleMap Locator</span></a>] </td>

                    </tr>
                    <tr>
                        <td colspan="9">
                            <!--
                            <div align="center"> <img src="~/Images/Homes/88/05-01.jpg" class="img-fluid" alt="Lot # 5" name="Main_05" id="Main_05" height="auto" width="auto"> </div>
                            -->
                            <div align="center">
                                <img src="~/Images/Lake_Placid_Map.jpg" alt="Lake Placid Map" class="img-fluid d-block align-content-center " alt="Lake Placid Map">
                                <h2>
                                    Lake Placid Park Inc.
                                    <br>
                                    980 7th St. NW
                                    <br>
                                    Largo, FL 33770
                                </h2>
                            </div>
                        </td>
                    </tr>

                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>

<!--
<br />
<br />
<h3> Second view example</h3>


<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8" style="padding:0px 10px;">
            <br />
            <h2 align="center"   style="margin:5px 0px; padding:0px 0px;">
                <a href="https://www.google.com/maps/place/980+7th+St+NW,+Largo,+FL+33770/@@27.9252105,-82.7936273,18.75z/data=!4m6!3m5!1s0x88c2f09dc254a3e3:0xbf48d391033422dc!8m2!3d27.9254449!4d-82.7931705!16s%2Fg%2F11g5_0bvbn?entry=ttu&g_ep=EgoyMDI1MDEyNy4wIKXMDSoASAFQAw%3D%3D" ,
                   data-toggle="tooltip" data-placement="top" title="Google Map Location">Park Plan! (Google Map)</a>
            </h2>
            <br />
            <div align="center">
                <img src="~/Images/Lake_Placid_Map_NoAvailpng1.png" alt="Lake Placid Map" class="img-fluid d-block align-content-center" alt="Lake Placid Map">
                <h2>
                    Lake Placid MHP
                    <br>
                    980 7th St. NW
                    <br>
                    Largo, FL 33770
                </h2>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

-->
@section Scripts
{
}


