@{
    ViewData["Title"] = "ResidentOwner";
}
<br />
<h1 align="center">* Resident Owner Information *</h1>
<hr />
<br />


<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" width:100%;>
        <div class="d-flex justify-content-center">
            <table align="center" mx-auto border="2" cellpadding="4" cellspacing="0" width="820">
                <tbody>
                    <!--
                    <tr>
                        <td colspan="3" class="BG_Light_Blue"> <a name="L88" id="L88"></a> Lot # 5 [<a href="~/Home/ParkPlan"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Lot Locator</span></a>] </td>
                    </tr>
                    -->
                    <tr>
                        <!--
                        <td colspan="3" class="BG_Light_Blue"> <a name="L88" id="L88"></a> Resident Owned [<a href="https://www.google.com/maps/place/980+7th+St+NW,+Largo,+FL+33770/@@27.9252105,-82.7936273,18.75z/data=!4m6!3m5!1s0x88c2f09dc254a3e3:0xbf48d391033422dc!8m2!3d27.9254449!4d-82.7931705!16s%2Fg%2F11g5_0bvbn?entry=ttu&g_ep=EgoyMDI1MDEyNy4wIKXMDSoASAFQAw%3D%3D"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">GoogleMap Locator</span></a>] </td>
                        -->
                    </tr>
                    <tr>
                        <td colspan="9">
                            <!--
                            <div align="center"> <img src="~/Images/Homes/88/05-01.jpg" class="img-fluid" alt="Lot # 5" name="Main_05" id="Main_05" height="auto" width="auto"> </div>
                            -->
                            <p align="center">Resident Owned & Co-op Share Mobile Home Parks In Florida Explained</p>

                            Co-op Share and Resident owned mobile home parks and communities in Florida is ownership interest in the entire manufactured home community. You do not own the land that your mobile home is sitting on (known as fee simple, in traditional real estate). Instead your ownership is comparable to being a stockholder owning interest in the entire community. The monthly fees are generally half of the lot rent fees paid on a land lease basis for those homes without a share.

                            Resident owned properties are listed by licensed Real Estate agents and posted on the Multiple Listing Service or MLS along side conventional real estate. When purchasing or selling a mobile home that is part of a co-op you are able to gain massive exposure in both selling your manufactured home or searching to buy your next mobile home.

                            You pay real estate taxes just as you do on real property when owning a co-op share home. Because the purchase price is relatively low when compared to a conventional site built home, your taxes are not that high. If you are, or will be a Florida resident the Florida Property Tax Exemption for Homestead Property will result in significantly lower real estate taxes. Other qualifying reductions in real estate taxes include disability and more.


                            <a href="https://floridarevenue.com/property/documents/dr501.pdf" style="color:black;" class="menubar">Download the Florida Application for Homestead and Related Tax Exemptions</a>


                        </td>
                    </tr>

                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>




@section Scripts
{
}



